:root {
  --yellowish: #f9c74f;
  --orange: #f3722c;
  --orange-matte: #f9844a;
  --pistachio: #90be6d;
  --blue-matte: #277da1;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: whitesmoke;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: ;
}

.container {
  background-image: linear-gradient(to top right, black, var(--blue-matte));
  width: 100%;
  height: 100dvh;
}

/* hero */
.hero {
  width: 100%;
  height: 50px;
  background-image: linear-gradient();
}

/* main navigation*/
header ul {
  display: flex;
  flex-direction: row;
  height: 2em;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* background-color: var(--orange); */
  /* background-image: linear-gradient(
    to right,
    var(--orange),
    var(--orange-matte)
  );
} */
  background-image: linear-gradient(
    to right,
    var(--orange),
    var(--orange-matte)
  );
}

header li {
  list-style: none;
  transition: background-color 2s;
}

header a {
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.2s;
}

header a:hover {
  font-weight: 700;
  scale: 1.5;
  /* transition: all 2s; */
  background-color: black;
  color: var(--orange);
}
